page-favorite {

    .segment-button {
        color: #000000 !important;
        border-color: #ffffff !important;
        background: white !important;
        border-bottom: 1px solid #a9a7a7 !important;
    }

    .segment-activated {
        border-color: white!important;
        opacity: 1;
        color: #495eb7!important;
        background-color: white!important;
        border: none !important;
        border-width: 0px !important;
        border-bottom: 2px solid #495eb7!important;
    }

    .card-tiles {
        padding: 14px 21px;
        box-shadow: 0px 6px 23px -2px #c7c7c7;
        border: 1px solid #aaaaaa;
    }

    .fav-image {
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        height: 110px;
        padding: 3px;
    }

    .lh-100 {
        line-height: 100px;
        font-weight: 500;
    }
}
