page-comment-modal {

    .text-center {
        text-align: center;
    }
    ion-navbar button {
        position: relative !important;
    }
    .toolbar-title {
        color: black !important;
        font-size: 1.6rem !important;
    }
    .text-input-clear-icon {
        margin: 0;
        padding: 0;
        background-position: center;
        position: absolute;
        top: 0;
        display: inherit !important;
        height: 100%;
        z-index: 9999 !important;
        background-repeat: no-repeat;
    }
    input.text-input {
        margin: 2px 0px 6px 8px !important;
    }
    .bor-bot-1 {
        border-bottom: 1px solid #c1c0c0 !important;
    }
    .marg-top {
        margin-top: 24px;
    }
    .center-div {
        margin: 0 auto;
        width: 250px;
    }
    .inp-box {
        border-radius: 6px;
        height: 35px;
        width: 100%;
        padding: 5px;
    }
    .txt-color-home {
        color: white;
    }
    .fnt-size-18 {
        font-size: 18px
    }
    .pad-10 {
        padding: 10px;
    }
    .marg-0 {
        margin: 0px;
    }
    .marg-2 {
        margin: 2px;
    }
    .marg-10 {
        margin: 10px;
    }
    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .select-cat {
        min-height: 3rem !important;
        border-radius: 6px !important;
        font-weight: 500 !important;
        margin: 10px 0px !important;
        border: 1px solid grey !important;
        max-width : 100% !important;
        padding: 8px 12px 8px 12px !important;
    }
    ion-label.label.label-ios.mar-se.label-md {
        margin: 5px 0px;
    }
    .width-80 {
        width: 80px
    }
    .marg-top-30 {
        margin-top: 30px;
    }
    .width-100per {
        width: 100%;
    }
    .btn-blue-autho {
        background: #435cb7;
        color: white;
    }
    .app_color {
        background: linear-gradient(#5b7fbf, #b6d8ec);
    }
    .margi-10 {
        margin: 10px;
    }
    
    /*
    textarea{
		height:100%;	
    }
    */

    #myInput {
        width: calc(100% - 10px);
        border: 0;
        border-radius: 0;
        background: transparent;
    }
}
