page-adsubmitview {

    .text-center {
        text-align: center;
    }

    .marg-top {
        margin-top: 100px;
    }

    .center-div {
        margin: 0 auto;
        width: 250px;
        margin-top: 50px;
    }

    .inp-box {
        border-radius: 6px;
        height: 35px;
        width: 100%;
        padding: 6px;
    }

    .txt-color-home {
        color: white;
    }

    .fnt-size-18 {
        font-size: 18px
    }

    .pad-10 {
        padding: 10px;
    }

    .marg-0 {
        margin: 0px;
    }

    .marg-2 {
        margin: 2px;
    }

    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .width-80 {
        width: 250px
    }

    .btn-blue-autho {
        background: #435cb7;
        color: white;
    }

    .app_color {
        background: linear-gradient(#5b7fbf, #b6d8ec);
    }

    .margi-10 {
        margin: 10px;
    }

}
