<!--
  Generated template for the AdDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title></ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-slides pager class="hi-50">
        <ion-slide style="padding: 0px 30px;" *ngFor="let file of files;">
            <img [src]="file.file_name" height="160" imageViewer class="wid-100" />
        </ion-slide>
    </ion-slides>

    <div class="bor-bot">
        <ion-row class="wid-100">
            <ion-col col-2>
                <ion-avatar item-start style="margin-left: 12px;">
                    <img *ngIf ="ads" [src]="ads.user_icon" class="img-avtar mar-auto" />
                </ion-avatar>
            </ion-col>
            <ion-col col-10>
                <p class="fs-16" style="margin-bottom: 6px; margin-top:6px;">
                    <!-- User name --> 
                    <span *ngIf="ads">{{ads.username}}</span>
                    <!-- Date and Time --> 
                    <ion-note class="fs-14 pad-right float-right text-black" *ngIf="ads" style="margin-top:3px;">
                        {{ads.reg_date | date :'yyyy/MM/dd'}}&nbsp;&nbsp;
                        <span class="fs-14" *ngIf="ads">{{ads.reg_date | date :'hh:mm'}}</span>
                    </ion-note>
                </p>

                <!-- Content --> 
                <p class="fs-12 mar-auto" *ngIf="ads">
                    {{ads.content}}
                </p>
                <ion-row  style="width: 100%;">

                    <ion-col col-3 class="no-padding">

                        <!-- like --> 
                        <button  ion-button icon-start clear small class="no-padding text-blue" (click)="likeAd(ads.id)">
                            <img *ngIf="ads && ads.like_status == '1'" src="assets/imgs/heart.png" class="icons-small">
                            <img *ngIf="ads && ads.like_status == '0'" src="assets/imgs/heart-white-hi.png" class="icons-small">&nbsp;&nbsp;
                            <p class="fs-12 text-blue text-trans-initial">
                                いいね
                                <span *ngIf="ads">{{ads.num_like}}</span>
                            </p>
                        </button>
                        
                    </ion-col>

                    <ion-col col-3 class="no-padding" style="text-align:right;">
                        <!-- reply --> 
                        <button ion-button icon-start clear small class="no-padding text-blue" (click)="replyAd()">
                            <img src="assets/imgs/send.png" class="icons-small">&nbsp;&nbsp;
                            <p class="fs-12 text-blue text-trans-initial">
                                返信
                                <span *ngIf="ads">{{ads.num_comment}}</span>
                            </p>
                        </button>
                    </ion-col>
                    
                    <ion-col col-3 class="no-padding" style="text-align:right;">
                        <!-- share --> 
                        <button ion-button icon-start clear small class="no-padding text-blue">
                            <img src="assets/imgs/share.png" class="icons-small">&nbsp;&nbsp;
                            <p class="fs-12 text-blue text-trans-initial">シェア</p>
                        </button>
                    </ion-col>
                    
                    <ion-col col-3 class="no-padding flex-center " style="display:block; text-align:right;">
                        <!-- report --> 
                        <ion-note>
                            <ion-icon name="ios-close" class="fs-24 fs-w8-8" style="margin:5px 10px 0px 0px;" (click)="report(null)"></ion-icon>
                        </ion-note>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </div>
    
    <!-- Parent comments -->
    <div *ngFor="let cmt of comments;" class="bor-bot" >
        <ion-row class="wid-100"> 
            <ion-col col-2>
                <!-- comment user avatar-->
                <ion-avatar item-start style="margin-left: 12px;">
                    <img *ngIf ="cmt" [src]="cmt.file_name" class="img-avtar mar-auto" />
                </ion-avatar>
            </ion-col>

            <ion-col col-10>
                <p class="fs-16" style="margin-bottom: 6px; margin-top:6px;">
                    <!-- user name --> 
                    <span *ngIf ="cmt">{{cmt.user_name}}</span>
                    <!-- date and Time --> 
                    <ion-note class="fs-14 pad-right float-right text-black" *ngIf ="cmt" style="margin-top:3px;">
                        {{cmt.reg_date | date :'yyyy/MM/dd'}}&nbsp;&nbsp;
                        <span class="fs-14" *ngIf ="cmt">{{cmt.reg_date | date :'hh:mm'}}</span>
                    </ion-note>
                </p>
                <!-- content --> 
                <p class="fs-12 mar-auto" *ngIf ="cmt">
                    {{cmt.content}}
                </p>
    
                <ion-row style="width: 100%;">
                    <ion-col col-3 class="no-padding">
                        <!-- like --> 
                        <button ion-button icon-start clear small class="no-padding text-blue" (click)="likeComment(cmt.id)">
                            <img *ngIf="cmt && cmt.like_status == '1'" src="assets/imgs/heart.png" class="icons-small">
                            <img *ngIf="cmt && cmt.like_status == '0'" src="assets/imgs/heart-white-hi.png" class="icons-small">&nbsp;&nbsp;
                            <p class="fs-12 text-blue text-trans-initial">
                                いいね 
                                <span *ngIf="cmt">{{cmt.num_like}}</span>
                            </p>
                        </button>
                    </ion-col>

                    <ion-col col-3 class="no-padding">
                        <!-- reply --> 
                        <button ion-button icon-start clear small class="no-padding text-blue" (click)="replyComment(cmt.id,cmt)">
                            <img src="assets/imgs/send.png" class="icons-small">&nbsp;&nbsp;
                            <p class="fs-12 text-blue text-trans-initial" >
                                返信
                                <span *ngIf="cmt">{{cmt.num_reply}} </span>
                            </p>
                        </button>
                    </ion-col>
                    
                    <ion-col col-3 class="no-padding">
                    </ion-col>

                    <ion-col col-3 class="no-padding flex-center ">
                        <!-- report -->
                        <ion-note>
                            <ion-icon name="ios-close" class="fs-24 fs-w8-8" (click)="report(cmt)"></ion-icon>
                        </ion-note>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
  
   
        <!-- Child comments -->
        <div padding *ngIf ="cmt && cmt.innerComments && cmt.innerComments.length > 0">
            <ion-row *ngFor="let icmt of cmt.innerComments;"> 
                <ion-col col-2>
                    <!-- comment user avatar -->
                    <ion-avatar item-start class="mar-06">
                        <img *ngIf="icmt" [src]="icmt.file_name" class="img-avtar mar-auto" />
                    </ion-avatar>
                </ion-col>

                <ion-col col-10>
                    
                    <p class="fs-16" style="margin-bottom: 6px;">
                        <!-- comment user name -->
                        <span *ngIf ="icmt">{{icmt.user_name}}</span>
                        <!-- date and time -->
                        <ion-note class="fs-14 pad-right float-right text-black">{{icmt.reg_date | date :'yyyy/MM/dd'}}&nbsp;&nbsp;
                            <span class="fs-14" *ngIf ="icmt">{{icmt.reg_date | date :'hh:mm'}}</span>
                        </ion-note>
                    </p>

                    <!-- content --> 
                    <p class="fs-12 mar-auto">
                        {{icmt.content}}
                    </p>

                    <ion-row style="width: 100%;">
                        <ion-col col-4 class="no-padding">
                            <!-- like --> 
                            <button  ion-button icon-start clear small class="no-padding text-blue" (click)="likeComment(icmt.id)">
                                <img *ngIf="icmt && icmt.like_status == '1'" src="assets/imgs/heart.png" class="icons-small">
                                <img *ngIf="icmt && icmt.like_status == '0'" src="assets/imgs/heart-white-hi.png" class="icons-small">&nbsp;&nbsp;
                                <p class="fs-12 text-blue text-trans-initial">
                                    いいね
                                    <span>{{icmt.num_like}}</span>
                                </p>
                            </button>
                        </ion-col>

                        <ion-col col-4 class="no-padding">
                            <!-- reply --> 
                            <button ion-button icon-start clear small class="no-padding text-blue" (click)="replyComment(icmt.id,icmt)">
                                <img src="assets/imgs/send.png" class="icons-small">&nbsp;&nbsp;
                                <p class="fs-12 text-blue text-trans-initial" >
                                    返信
                                    <span *ngIf="icmt">{{icmt.num_reply}}</span>
                                </p>
                            </button>
                        </ion-col>
                    
                        <ion-col col-4 class="no-padding flex-center ">
                            <!-- report -->
                            <ion-note>
                                <ion-icon name="ios-close" class="fs-24 fs-w8-8" (click)="report(icmt)"></ion-icon>
                            </ion-note>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </div>
    </div>
  
    <br />
    <br />
  
    <!-- comment dialog -->
    <ion-grid style="background-color: #9ba0b8 !important;position:fixed;bottom: 56px;left:0;" *ngIf="showCommentBox">
        <ion-row>
            <ion-col col-2>
                <img style="width:50px;height: 50px;" *ngIf ="current_user_icon" [src]="current_user_icon" class="img-avtar mar-auto" />
            </ion-col>
            <ion-col col-8>
                <ion-textarea placeholder="Enter a description" style="background: white;border-radius: 6px;padding: 20px;" [(ngModel)]="commenttext" ></ion-textarea>
            </ion-col>
            <ion-col col-2 style="text-align: center;">
                <ion-icon name="close-circle"  style="font-size: 36px;color: #3a51b2 !important;margin-top: 10px;" (click)="cloceClick()"></ion-icon>
                <ion-icon name="send"  style="font-size: 40px; color: #3a51b2 !important;margin-top: 10px;" (click)="sendClick()"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>