<ion-header>
    
    <ion-navbar>
        <!--
        <button ion-button clear icon-only (click)="dismiss()" style="height: 2.0rem; z-index: 100;">
            <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        </button>
        -->
        
        <ion-title>地域選択</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
     
    <ion-list class="last-item-border">
        <!--
        <ion-list-header class="no-border text-blue" text-wrap style="font-size: 1.9rem !important;">
            興味がある地域を選択してください。<br>
            最大5つまで選択可能です。
        </ion-list-header>
        -->
        <ion-label class="no-border text-blue" text-wrap style="font-size: 1.7rem !important;margin-left: 30px;">
            興味がある地域を選択してください。<br>
            最大5つまで選択可能です。
        </ion-label>

        <!-- Continents -->
        <button no-padding class="item-continent" ion-item *ngFor="let c of continents" (click)="gotoCountry(c)">
            {{ c.name }}
            <ion-icon item-right class="item-right-icon" name="ios-arrow-forward-outline"></ion-icon>
        </button>
    </ion-list>

    <!-- Selected locations -->
    <ion-list no-lines style="margin-left: 30px;">
    	<ion-list-header margin-top class="no-border text-blue fs-16">
            選択した地域
        </ion-list-header>
        <ion-item ion-item *ngFor="let l of locations" class="selected-continent">
            <button no-padding class="item-selected-continent" ion-button outline round style="font-size: 1.7rem !important;">
                {{ l.name }}
                <ion-icon icon-right class="selected-continent-icon" name="md-close" (click)="removeItem(l)"></ion-icon>
            </button> 
        </ion-item>
    </ion-list>
    
    <div class="flex-center" padding-bottom *ngIf="locations.length > 0">
        <div class="text-center">
            <button class="btn btn-blue-autho fs-16" (click)="submit()" >この地域を登録</button>
        </div>
    </div>
</ion-content>
