page-menusetting {

	.item-inner {
		border-bottom: 0px !important;
	}

	.label-bor{
			border-bottom: 1px solid grey;
		padding-bottom: 20px;
	}

	.pad-left-6{
		padding-left: 16px !important;
	}
	ion-navbar button {
		position: relative !important;
	}
}
